<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if logged %}
    <form action="{% url "django_pay_payu_start_via_form" %}" method="POST">
        {% csrf_token %}
        <label for="user_id">User id:</label>
        <input id="user_id" name="user_id" type="text" value="{{ user.pk }}"/>
        <br/>
        <br/>
        <label for="quantity">Quantity id:</label>
        <input id="quantity" name="quantity" type="number" value="1"/>
        <br/>
        <br/>
        <label for="product_id">Product id:</label>
        <select id="product_id" name="product_id">
            {% for product in products %}
                <option value="{{ product.pk }}">{{ product.name }}</option>
            {% endfor %}
        </select>
        <br/>
        <br/>

        <button type="submit">SUBMIT</button>
    </form>
{% else %}
    Need to log in
{% endif %}
</body>
</html>